body{
    padding: 0;
    margin: 0;
    background: #a3e5f4;

}

h1{
    text-align: center;
    font-size: 6em;
    margin: 0;
    font-family: "Verdana";
    position: absolute;
    top: 50%;
    left: 50%;
}

body{
    text-align: center;
}