body{
    padding: 0;
    margin: 0;
    background: #700cce;
    background-image: url("https://static.nationalgeographic.fr/files/styles/image_3200/public/stsci-01h5309j2aaysabkvq89r7v44t-2.jpg?w=1900&h=1108");

}

h1{

    font-size: 1em;
    margin: 0;
    font-family: "Verdana";
    top: 10%;
    left: 10%;
    color: violet;
}

h2{
    
    color: blue;


}
    
h3{
    
    color: #700cce;
}

h4{
    
    color: chartreuse;
}
